# .o
# .txt
/**/*.log
# bin/beatmatcher
# bin/test
# **/build
# beatmatcher.log

/*
/**/*

!.gitignore
!.Makefile
!README.md

!/include/
!/include/*.h

!/src/
!/src/**

!/QLC/
/QLC/**
!/QLC/*.qxw
!/QLC/fixtures/
!/QLC/fixtures/*.qxf



!/others/
!/others/**
